{$PILOT_PUBLIC_WWW_DOMAIN} {
    redir https://{$PILOT_PUBLIC_DOMAIN}{uri} 308
}

{$PILOT_PUBLIC_DOMAIN} {
    encode zstd gzip

    @root path /
    redir @root /site 308

    @api path /api/v1/*
    handle @api {
        reverse_proxy backend:8000
    }

    handle {
        reverse_proxy frontend:3000
    }
}
