APP_NAME=AuroraStack SaaS
DATABASE_URL=postgresql+psycopg://aurora_stack:change_me@db:5432/aurora_stack
AURORA_PROJECT_TITLE=Mon projet
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_me
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:19100,https://stack.auroramind.fr
JWT_SECRET_KEY=change_me
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

# Accès Postgres (pour pgAdmin si vous mappez un port)
POSTGRES_DB=aurora_stack
POSTGRES_USER=aurora_stack
POSTGRES_PASSWORD=change_me
